.widgetLg{
    flex: 2;
    -webkit-box-shadow: 0rem 0rem 0.938rem -0.938rem #000000; 
    box-shadow: 0rem 0rem 0.938rem -0.938rem #000000;
    padding: 1.25em;
    margin-right: 1.25em;
    margin-top: 1.5em;
}

.widgetLgTitle{
    font-size: 1.375rem;
    font-weight: 550;
    color: #555;
}

.widgetLgTable{
   width: 100%;
   border-spacing: 1.25rem; 
}

.widgetLgTh{
    text-align: left;
}

.widgetLgUser{
    display: flex;
    align-items: center;
    font-weight: 600;
}

.widgetLgImg{
   width: 2.5rem;
   height: 2.5rem;
   border-radius: 50%;
   object-fit: cover; 
   margin-right: 0.625em;
}

.widgetLgDate, .widgetLgAmount{
    font-weight: 300;
}

.widgetLgButton{
   padding: 0.313em 0.438em;
   border: none;
   border-radius: 0.625rem; 
}

.widgetLgButton.Approved{
   background-color: lightgreen;
   color: darkgreen;
}

.widgetLgButton.Declined{
    background-color: rgb(250, 210, 210);
    color: red;
}

.widgetLgButton.Pending{
    background-color: lightblue;
    color: darkblue;
}
